{% load static tailwind_tags %}

{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
    {% block title %}
    {% endblock  %}

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}

		{% block style %}
		<style>
			
		</style>
		{% endblock %}

	</head>

	<body class="bg-gray-50 leading-normal tracking-normal">

		{% include 'nav/nav.html' %}

		<div class="w-full h-full p-4 m-8 " id="bodys">
			<div class=" mr-4 border-4  border-dotted ">
				{% block body %}
				{% endblock  %}
			</div>
		  </div>

	
		{% block js %}
		{% endblock  %}

		<script>
	if(screen.width < 1024){
        document.getElementById("bodys").style.marginTop = "350px"
    }
		</script>
	</body>
</html>
